<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>JARVIS AI Web control</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="article:author" content="Cao The Toan" />
    <meta name="author" content="caothetoan@gmail.com" />
    <link rel="shortcut icon" href="./assets/img/favicon.png" type="image/x-icon">

    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/font-awesome.min.css" rel="stylesheet">

    <link href="./assets/css/styles.css" rel="stylesheet">
    <!--

     <link href="//fonts.googleapis.com/css?family=Roboto|Montserrat:400,700|Open+Sans:400,300,600" rel="stylesheet">
     <link href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
       -->
    <style language="text/css">
    </style>
</head>
<body onload="initPage()">
    <div ng-controller="NavbarCtrl" class="navbar navbar-default navbar-static-top">
        <div class="navbar-header">
            <a class="navbar-brand" href="/"><i class="fa fa-fighter-jet ion-ios7-pulse-strong"></i> Jarvis</a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>

        </ul>
        <!--
        <ul ng-if="!isAuthenticated()" class="nav navbar-nav pull-right">
          <li><a href="/#/login">Login</a></li>
          <li><a href="/#/signup">Sign up</a></li>
        </ul>
        <ul ng-if="isAuthenticated()" class="nav navbar-nav pull-right">
          <li><a href="/#/logout">Logout</a></li>
        </ul>
        -->
    </div>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">Home Page</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="box box-widget widget-user">
                            <!-- Add the bg color to the header using any of the bg-* classes -->
                            <div class="widget-user-header bg-black" style="background: url('./assets/img/bg.png') center center;">
                                <h3 class="widget-user-username">Cao The Toan</h3>
                                <h5 class="widget-user-desc">Developer</h5>
                            </div>
                            <div class="widget-user-image">
                                <img class="img-circle" src="./assets/img/robot108.png" alt="User Avatar">
                            </div>
                            <div class="box-footer">
                                <!--
                                     <div class="row">
                                         <div class="col-sm-4 border-right">
                                             <div class="description-block">
                                                 <h5 class="description-header">32</h5>
                                                 <span class="description-text">PROJECTS</span>
                                             </div>
                                         </div>
                                         <div class="col-sm-4 border-right">
                                             <div class="description-block">
                                                 <h5 class="description-header">132</h5>
                                                 <span class="description-text">FOLLOWERS</span>
                                             </div>
                                         </div>
                                         <div class="col-sm-4">
                                             <div class="description-block">
                                                 <h5 class="description-header">35</h5>
                                                 <span class="description-text">PRODUCTS</span>
                                             </div>
                                         </div>
                                     </div>
                                -->
                            </div>
                        </div>
                        <div class="">
                            <div class="row">
                                <div class="col-xs-12 text-center">
                                    <h2 class="verb-title"><span class="verb"></span>.</h2>
                                </div>

                            </div>

                            <div class="col-md-12 bot-page-body-left with-webchat">
                                <button class="btn btn-danger"
                                        id="btn" onclick="btnClick()">
                                    <i class="fa fa-microphone"></i>  Listen
                                </button>

                                <h3>Detected: </h3><p id="detectedText"></p>
                                <br>
                                <h3><a target="_blank" href="http://jarvis.vnit.top">Jarvis reply</a>: </h3>
                                <p id="result"></p>

                                <hr />
                                <p class="description">
                                    The Jarvis AI allow you to do anything you want
                                    like that ask weather, ask gold rate, play music,
                                    post Facebook, calculate,
                                    control light, TV, robot...
                                </p>
                                <p class="commands">
                                    List of command:
                                    <ul id="command_container">
                                        <li>Welcome</li>
                                        <li>Calculator</li>
                                        <li>Control IoT</li>
                                        <li>Control Robot</li>
                                        <li>Book a car</li>
                                        <li>Book a hotel</li>
                                        <li>Book a {Nights}​ night stay in {Location}​</li>
                                        <li>Table now</li>
                                        <li>What is the weather like in {Location}?</li>
                                        <li>Gold rate</li>
                                        <li>Post facebook {status}</li>
                                        <li>Hot News</li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer text-center">
            <ul class="list-inline">
                <li>
                    <i class="fa fa-copyright"></i>
                    <a target="_blank" href="http://jarvis.vnit.top">Jarvis bot</a> Developed by
                    <a target="_blank" href="https://caothetoan.github.io">Cao The Toan</a>
                </li>
                <li><i class="fa fa-star"></i></li>
            </ul>
        </div>
    </div>
    <div class="bot-page">
        <div class="bot-page-body-right with-webchat">
            <div class="col-md-12">
                <div class="panel panel-primary ">
                    <div class="panel-heading ">
                        <span class="glyphicon glyphicon-comment"></span>
                        <span>Chat with JARVIS</span>
                        <div class="btn-group pull-right">
                            <button id="btnHideChat" type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-chevron-down"></i>
                            </button>

                        </div>
                    </div>

                    <div id="chatBody">
                        <div class="panel-body panel-body-chat ">
                            <div class="direct-chat direct-chat-success box-body">
                                <div id="conversation" class="direct-chat-messages"></div>
                            </div>
                        </div>
                        <div class="panel-footer ">
                            <div class="input-group">
                                <form id="chatform" onsubmit="return pushChat();">

                                    <div class="input-group">
                                        <span id="btnListen" title="Listen" onclick="btnClick()" class="input-group-addon"><i class="fa fa-microphone"></i></span>
                                        <input class="col-md-12 form-control input-sm" type="text" id="wisdom" size="80" value="" placeholder="Type anything...">
                                        <span id="btn-chat" class="input-group-addon" title="Send"><i class="fa fa-send"></i></span>
                                    </div>

                                    <!--<span class="input-group-btn">
                                        <button type="submit" class="btn btn-primary " id="btn-chat">
                                            <i class="fa fa-send"></i>  Send
                                        </button>
                                    </span>-->

                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <section>
        <script src="/assets/js/chat.js" type="text/javascript"></script>
        <script src="/assets/js/recognition.js"></script>

        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
        <script src="/assets/js/typed.min.js"></script>
        <script src="/assets/js/global.js"></script>
    </section>
</body>
</html>